<div id='auth-container' class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-6">
          {{#link-to 'login' id="login-form-link" }} Login {{/link-to}}
        </div>
        <div class="col-xs-6">
          {{#link-to 'users.sign-up' id="register-form-link" }} Register {{/link-to}}
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-12">
          {{#bs-form model=model onSubmit=(action "triggerSaveChain") novalidate=true as |form|}}
            {{form.element controlType="email" label="Email" placeholder="Email" property="email"}} {{form.element controlType="password" label="Password" placeholder="Password" property="password"}} {{form.element controlType="password" label="Password Confirmation" placeholder="Password Confirmation" property="passwordConfirmation"}}
            {{#if saveNewUser.isRunning}}
              <div class='loader'>
              </div>
            {{else}}
              {{bs-button defaultText="Register Now" type="primary" buttonType="startSave" }}
            {{/if}}
          {{/bs-form}}
        </div>
      </div>
    </div>
  </div>
  {{#if errorMessage}}
    {{alert-centered alertType="warning" alert=errorMessage}}
  {{/if}}
</div>
