<form>
  <div class="form-col">
    {{input value=email placeholder="Email"}}
  </div>
  <div class="form-col">
    {{input value=password type="password" placeholder="Password"}}
  </div>
  <div class="form-col">
    {{input value=passwordConfirmation type="password" placeholder="Confirm password"}}
  </div>

  <button type="submit" {{action 'triggerPasswordResetChain'}} class="btn btn-main btn-block">Reset password</button>
</form>
<div class="spacer-sm"></div>
<div class="text-center">
  {{#link-to 'login'}}Back to login{{/link-to}}
</div>
<div>

  {{#if errorMessage}}
    <p>
      {{errorMessage}}
    </p>
  {{/if}}

</div>
