<div class="content">
  <div class="content-area">
    <div class="main vertical-center">
      <div class="container-xxs">
        <div class="box pad-lg">
          <form {{action "persist" on="submit"}}>
            <div class="form-col">
              {{input value=email placeholder="Email"}}
            </div>
            <div class="form-col">
              {{input value=password type="password" placeholder="Password"}}
            </div>
            <div class="form-col">
              {{input value=passwordConfirmation type="password" placeholder="Confirm password"}}
            </div>

            <button type="submit" class="btn btn-main btn-block">Reset password</button>
          </form>
          <div class="spacer-sm"></div>
          <div class="text-center">
            {{#link-to 'login'}}Back to login{{/link-to}}
          </div>

        </div>
        <div class="pad-sm">
          <p class="faded text-center"><small>&copy; 2017, ITC GLobal</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}